%p
  This is a
  = link_to("little", word_path('little'))
  webservice that returns rhymes.

  Add a "full" query param to include Arpabet transcriptions, you
  = link_to("monkey", word_path('monkey', :full => 1)) + '.'
  
  Source code is at 
  = link_to("github.com/zeke/arpabet", "http://github.com/zeke/arpabet")
  
  