<!DOCTYPE html>
<html>
<head>
  <title>Arpabet</title>
  <%= csrf_meta_tags %>

<style type="text/css">
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding: 20px;
  }
  
  p {
    width: 400px;
    font-weight: bold;
    font-size: 2em;
    color: #999;
  }
  
  p a {
    color: #0066CC;
  }
    
</style>  

</head>
<body>

<%= yield %>

</body>
</html>
